<div class="page-content-wrapper ">
  <!-- START PAGE CONTENT -->

  <div class="content full-width overlay-footer" style="padding-top: 0px !important;">

    <div class="container-fluid container-fixed-lg ">
      <div id="rootwizard">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
          <li class="active">
            <a data-toggle="tab" href="#tab1"><i class="fa fa-globe  tab-icon"></i> <span>All</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#tab2"><i class="fa fa-check tab-icon"></i> <span>Unblock</span></a>
          </li>
          <!-- <li class="">
            <a data-toggle="tab" href="#tab3"><i class="fa fa-check tab-icon"></i><span>Verified</span></a>
          </li> -->
          <li class="">
            <a data-toggle="tab" href="#tab4"><i class="fa fa-ban tab-icon"></i><span>Block</span></a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane padding-20 active slide-left" id="tab1">
            <div class="container-fluid container-fixed-lg bg-white">
              <!-- START PANEL -->
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="pull-right">
                    <div class="col-xs-12">
                      <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped demo-table-search" id="tableWithSearch">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Gender</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @user.each do |user| %>
                      <tr>
                        <td class="v-align-middle semi-bold">
                          <p>EU<%= user.id %></p>
                        </td>
                        <td class="v-align-middle semi-bold">
                          <p><%= user.username %></p>
                        </td>
                        <td class="v-align-middle bold">
                          <p><%= user.email %></p>
                        </td>
                        <td class="v-align-middle">
                          <p><%= user.gender.present? ? user.gender.capitalize : 'Record Missing' %></p>
                        </td>
                      </tr>

                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END PANEL -->
            </div>
          </div>
          <div class="tab-pane slide-left padding-20" id="tab2">
            <div class="container-fluid container-fixed-lg bg-white">
              <!-- START PANEL -->
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="pull-right">
                    <div class="col-xs-12">
                      <input type="text" id="search-table-one" class="form-control pull-right" placeholder="Search">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped demo-table-search" id="tableWithSearchOne">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Block</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @user.where(block: false).each do |user| %>
                      <tr>
                        <td class="v-align-middle semi-bold">
                          <p>EU<%= user.id %></p>
                        </td>
                        <td class="v-align-middle semi-bold">
                          <p><%= user.username %></p>
                        </td>
                        <td class="v-align-middle bold">
                          <p><%= user.email %></p>
                        </td>
                        <td class="v-align-middle">
                          <p><%= user.gender.present? ? user.gender.capitalize : 'Record Missing' %></p>
                        </td>
                        <td class="v-align-middle">
                        <%= link_to "Block", dashboard_block_user_path(user.id) , class: 'btn btn-success' %>
                        </td>
                      </tr>

                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END PANEL -->
            </div>
          </div>
          <div class="tab-pane slide-left padding-20" id="tab4">
            <div class="container-fluid container-fixed-lg bg-white">
              <!-- START PANEL -->
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="pull-right">
                    <div class="col-xs-12">
                      <input type="text" id="search-table-three" class="form-control pull-right" placeholder="Search">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped demo-table-search" id="tableWithSearchThree">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Unblock</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @user.where(block: true).each do |user| %>
                      <tr>
                        <td class="v-align-middle semi-bold">
                          <p>EU<%= user.id %></p>
                        </td>
                        <td class="v-align-middle semi-bold">
                          <p><%= user.username %></p>
                        </td>
                        <td class="v-align-middle bold">
                          <p><%= user.email %></p>
                        </td>
                        <td class="v-align-middle">
                          <p><%= user.gender.present? ? user.gender.capitalize : 'Record Missing' %></p>
                        </td>
                        <td class="v-align-middle">
                        <%= link_to "Unblock", dashboard_unblock_user_path(user.id) , class: 'btn btn-success' %>
                        </td>
                      </tr>

                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END PANEL -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>