<div class="page-content-wrapper ">
  <!-- START PAGE CONTENT -->

  <div class="content full-width overlay-footer" style="padding-top: 0px !important;">

    <div class="container-fluid container-fixed-lg ">
      <div id="rootwizard">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
          <li class="active">
            <a data-toggle="tab" href="#tab1"><i class="fa fa-globe  tab-icon"></i> <span>Pending</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#tab2"><i class="fa fa-question tab-icon"></i> <span>Approved</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#tab3"><i class="fa fa-ban tab-icon"></i> <span>Blocked</span></a>
          </li>
          <li class="" style="float: right;">
          	<%= link_to "Download CSV", dashboard_restaurants_path(format: "csv") , class: '' %>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="container-fluid container-fixed-lg bg-white">
                <!-- START PANEL -->
				<div class="panel panel-transparent">
					<div class="panel-heading">
					  <div class="panel-title">Pending
					  </div>
					  <div class="pull-right">
					    <div class="col-xs-12">
					      <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
					    </div>
					  </div>
					  <div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  <table class="table table-striped demo-table-search" id="tableWithSearch">
					    <thead>
					      <tr>
					        <th>ID</th>
					        <th>Restaurant Name</th>
					        <th>Location</th>
					        <th>Cuisine</th>
					        <th>Owner</th>
					        <th>Approve</th>
					      </tr>
					    </thead>
					    <tbody>
					      <% @restaurant.where(status: 0).each do |restaurant| %>
					      <tr>
					        <td class="v-align-middle semi-bold">
					          <p>R<%= restaurant.id %></p>
					        </td>
					        <td class="v-align-middle semi-bold">
					          <p><%= restaurant.name %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.location %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.cuisine %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.owner.email %></p>
					        </td>
					        <td class="v-align-middle">
					          <button class="btn btn-success btn-cons" onclick="location.href='<%= restaurant_mark_approve_path(restaurant.id) %>'">Approve</button>
					        </td>
					      </tr>

					      <% end %>
					    </tbody>
					  </table>
					</div>
				</div>
				<!-- END PANEL -->
            </div>
          </div>
          <div class="tab-pane" id="tab2">
            <div class="container-fluid container-fixed-lg bg-white">
                <!-- START PANEL -->
				<div class="panel panel-transparent">
					<div class="panel-heading">
					  <div class="panel-title">Approved
					  </div>
					  <div class="pull-right">
					    <div class="col-xs-12">
					      <input type="text" id="search-table-two" class="form-control pull-right" placeholder="Search">
					    </div>
					  </div>
					  <div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  <table class="table table-striped demo-table-search" id="tableWithSearchTwo">
					    <thead>
					      <tr>
					        <th>ID</th>
					        <th>Restaurant Name</th>
					        <th>Type</th>
					        <th>Location</th>
					        
					        <th>Popular</th>
					        <th>Set Commission</th>
					        <th>Block</th>
					      </tr>
					    </thead>
					    <tbody>
					      <% @restaurant.where(status: 1).each do |restaurant| %>
					      <tr>
					        <td class="v-align-middle semi-bold">
					          <p>R<%= restaurant.id %></p>
					        </td>
					        <td class="v-align-middle semi-bold">
					          <p><%= restaurant.name %></p>
					        </td>
					        <td class="v-align-middle bold">
					          <p><%= restaurant.typee %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.location %></p>
					        </td>
					        
					        <td class="v-align-middle">
					          <button class="btn btn-success btn-cons" onclick="location.href='<%= restaurant_mark_popular_path(restaurant.id) %>'"><%= restaurant.popular ? 'Mark Popular' : 'Unmark Popular' %></button>
					        </td>
					        <td class="v-align-middle">
					        <% if restaurant.commission > 0.0 %>
					        	<button class="btn btn-success" data-target="#verify_modal_<%= restaurant.id %>" data-toggle="modal">Previous <%= restaurant.commission %></button>
					        <% else %>
	                          <button class="btn btn-success" data-target="#verify_modal_<%= restaurant.id %>" data-toggle="modal">Commission</button>
	                         <% end %>
	                        </td>
	                        <td class="v-align-middle">
	                        	
	                        <button class="btn btn-success btn-cons" onclick="location.href='<%= dashboard_block_restaurant_path(restaurant.id) %>'">Block</button>
	                        </td>
					      </tr>

					      <div class="modal slide-up" id="verify_modal_<%= restaurant.id %>" tabindex="-1" role="dialog" aria-hidden="false" >
	                        <div class="modal-dialog ">
	                          <div class="modal-content-wrapper">
	                            <div class="modal-content">
	                              <div class="modal-header clearfix text-left">
	                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
	                                </button>
	                                <h5>Set <span class="semi-bold">Commission</span></h5>
	                              </div>
	                              <div class="modal-body">
	                                <%= form_tag( dashboard_commission_path(restaurant.id) , {:method => :put} ) do  %>
	                                <div class="form-group-attached">
	                                    <div class="row">
	                                      <div class="col-sm-12">
	                                        <div class="form-group form-group-default">
	                                          <%= label_tag 'commission', 'Commission'%>
	                                          <%= text_field_tag :commission  , 0.0 , class: 'form-control', autofocus: true %>
	                                        </div>
	                                      </div>
	                                    </div>
	                                  </div>
	                                  <div class="row">
	                                    <div class="col-sm-8">
	                                    </div>
	                                    <div class="col-sm-4 m-t-10 sm-m-t-10">
	                                      <%= submit_tag "Set", class: 'btn btn-success btn-block m-t-5' %>
	                                    </div>
	                                  </div>
	                              <% end %>
	                              </div>
	                            </div>
	                          </div>
	                          <!-- /.modal-content -->
	                        </div>
	                      </div>

					      <% end %>
					    </tbody>
					  </table>
					</div>
				</div>
				<!-- END PANEL -->
            </div>
          </div>
          <div class="tab-pane" id="tab3">
            <div class="container-fluid container-fixed-lg bg-white">
                <!-- START PANEL -->
				<div class="panel panel-transparent">
					<div class="panel-heading">
					  <div class="panel-title">Blocked
					  </div>
					  <div class="pull-right">
					    <div class="col-xs-12">
					      <input type="text" id="search-table-one" class="form-control pull-right" placeholder="Search">
					    </div>
					  </div>
					  <div class="clearfix"></div>
					</div>
					<div class="panel-body">
					  <table class="table table-striped demo-table-search" id="tableWithSearchOne">
					    <thead>
					      <tr>
					        <th>ID</th>
					        <th>Restaurant Name</th>
					        <th>Location</th>
					        <th>Cuisine</th>
					        <th>Owner</th>
					        <th>Unblock</th>
					      </tr>
					    </thead>
					    <tbody>
					      <% @restaurant.where(status: 2).each do |restaurant| %>
					      <tr>
					        <td class="v-align-middle semi-bold">
					          <p>R<%= restaurant.id %></p>
					        </td>
					        <td class="v-align-middle semi-bold">
					          <p><%= restaurant.name %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.location %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.cuisine %></p>
					        </td>
					        <td class="v-align-middle">
					          <p><%= restaurant.owner.email %></p>
					        </td>
					        <td class="v-align-middle">
					          <button class="btn btn-success btn-cons" onclick="location.href='<%= dashboard_unblock_restaurant_path(restaurant.id) %>'">Unblock</button>
					        </td>
					      </tr>

					      <% end %>
					    </tbody>
					  </table>
					</div>
				</div>
				<!-- END PANEL -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>