<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deliverush</title>
    
    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="http://138.197.117.248/website/img/logofinal.png" style="width:100%; max-width:150px;">
                            </td>
                            
                            <td>
                                Order #: O<%= @order.id %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <%= @order.address %>
                            </td>
                            
                            <% brac =  @order.ordera.branches.near(@order.address , 20).first %>
                            <td>
                                <%= brac.present? ? brac.address : @order.ordera.name %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td>
                    Cash
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Item
                </td>
                
                <td>
                    Price
                </td>
            </tr>

            <% tot_pric = 0.0 %>
            <% @order.items.each do |foodi| %>
            	<% itm_pric = 0.0 %>
	            <% Component.where(id: foodi.option).each do |opt| %>
	              <% itm_pric = itm_pric + opt.price %>
	            <% end %>
	            <br>
	            <% Ingredient.where(id: foodi.ingredients).each do |ingre| %>
	              <% itm_pric = itm_pric + ingre.price %>
	            <% end %>
	            <tr class="item">
	                <td>
	                    <%= foodi.orderable.name %>
	                </td>
	                <% itm_pric = itm_pric + foodi.orderable.price %>
	                <td>
	                    $<%= (itm_pric*foodi.quantity).round(2) %>
	                </td>
	            </tr>
	            <% tot_pric = tot_pric + (itm_pric*foodi.quantity) %>
            <% end %>
            <% if @order.ordera.present? && @order.ordera.partner %>
            <% fes = @order.ordera.delivery_fee.round(2) %>
            <% else %>
            <% fes = 0.0 %>
            <% end %>
            <tr class="item">
                <td>
                    Delivery Fee
                </td>
                
                <td>
                    <%= @order.ordera.partner ? '£ #{(fes).round(2)}' : 'Calculated on distance basis' %>
                </td>
            </tr>
            
            <tr class="total">
                <td></td>
                
                <td>
                   Total: $<%= ( tot_pric + fes ).round(2) %>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>