<style type="text/css">
  .modal{
      z-index: 9999999 !important;  
  }
  .modal-backdrop{
      z-index: 99 !important;        
  }​
  .inner{
    top: 40px;
    width: 100%;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    black;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    black;
	opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    black;
	opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    black;
  }
  .wow:hover{
  	opacity: 0.7;
  }
</style>
	<!-- SubHeader =============================================== -->
    <section class="header-video">
	    <div id="hero_video">
	        <div id="sub_content">
	            <h2 style="color: white;">We deliver your favourite food and anything within minutes to your door </h2>
	            <!-- <p>
	                Get up to 20% off and free delivery for the entire month!
	            </p> -->
	            <form name="search" onsubmit="return openmap()" >
	                <div id="custom-search-input">
	                    <div class="input-group">
	                        <input type="text" id="address" class="search-query" placeholder="Address" required>
	                        <span class="input-group-btn">
	                        <input type="submit" class="btn_search" value="Search">
	                        </span>
	                    </div>
	                </div>
	            </form>
	        </div><!-- End sub_content -->
	    </div>
	    <img src="website/img/video_fix.png" alt="" class="header-video--media" data-video-src="website/video/intro" data-teaser-source="website/video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960">
	    <div id="count" class="hidden-xs hidden">
	        <ul>
	            <li><span class="number"><%= @res_count %></span> Pickup Points</li>
	            <li><span class="number"><%= @ord_count %></span> People Served</li>
	            <li><span class="number"><%= @end_user_count %></span> Registered Users</li>
	        </ul>
	    </div>
    </section><!-- End Header video -->
    <!-- End SubHeader ============================================ -->
    
   <!-- Content ================================================== -->
    <div class="container margin_60">
        
        <div class="main_title">
            <h2 class="nomargin_top" style="padding-top:0">How it works</h2>
            <p class="hidden">
                Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box_home" id="one">
                    <span>1</span>
                    <h3>Search by address</h3>
                    <p>
                        Find all restaurants available in your zone.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_home" id="two">
                    <span>2</span>
                    <h3>We have the best restaurants of your area</h3>
                    <!-- <p>
                        We have more than 1000s of menus online.
                    </p> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_home" id="three">
                    <span>3</span>
                    <h3>Secure Payments</h3>
                    <p>
                        Your payments details  are secure through our app  using  paypall.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_home" id="four">
                    <span>4</span>
                    <h3>Delivery or takeaway</h3>
                    <p>
                        We deliver your favourite food with in 30 Mins
                    </p>
                </div>
            </div>
        </div><!-- End row -->
        
        <div id="delivery_time" class="hidden-xs">
            <strong><span>3</span><span>0</span></strong>
            <h4>The minutes that usually takes to deliver!</h4>
        </div>
    </div><!-- End container -->
            
    <div class="white_bg">
	    <div class="container margin_60">
	        
	        <div class="main_title">
	            <h2 class="nomargin_top">Choose from Most Recent</h2>
	            <p class="hidden">
	                Cum doctus civibus efficiantur in imperdiet deterruisset.
	            </p>
	        </div>
	        
	        <div class="row">
	        	<% if @restaurants.count >= 3 %>
	            <div class="col-md-6">
	                <a href="deliver_<%= @restaurants.first.id%>" class="strip_list">
	                <div class="<%= @restaurants.first.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.first.image_url.present? ? @restaurants.first.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                        	<% if @restaurants.first.reviews.count > 0 %>
		                        	<% t_rat = ( @restaurants.first.reviews.pluck("SUM(rating)").first.to_f / @restaurants.first.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.first.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.first.branches.count > 0 ? @restaurants.first.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.first.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class="<%= @restaurants.first.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	               <a href="deliver_<%= @restaurants.second.id %>" class="strip_list">
	               <div class="<%= @restaurants.second.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.second.image_url.present? ? @restaurants.second.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                        	<% if @restaurants.second.reviews.count > 0 %>
		                            <% t_rat = ( @restaurants.second.reviews.pluck("SUM(rating)").first.to_f / @restaurants.second.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.second.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.second.branches.count > 0 ? @restaurants.second.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.second.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class="<%= @restaurants.second.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	                <a href="deliver_<%= @restaurants.third.id %>" class="strip_list">
	                <div class="<%= @restaurants.third.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.third.image_url.present? ? @restaurants.third.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                       		<% if @restaurants.third.reviews.count > 0 %>
		                            <% t_rat = ( @restaurants.third.reviews.pluck("SUM(rating)").first.to_f / @restaurants.third.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.third.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.third.branches.count > 0 ? @restaurants.third.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.third.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class="<%= @restaurants.third.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	            </div><!-- End col-md-6-->
	            <% end %>
	            <% if @restaurants.count >= 6 %>
	            <div class="col-md-6">
	                <a href="deliver_<%= @restaurants.fourth.id %>" class="strip_list">
	                <div class="<%= @restaurants.fourth.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.fourth.image_url.present? ? @restaurants.fourth.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                        	<% if @restaurants.fourth.reviews.count > 0 %>
		                            <% t_rat = ( @restaurants.fourth.reviews.pluck("SUM(rating)").first.to_f / @restaurants.fourth.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.fourth.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.fourth.branches.count > 0 ? @restaurants.fourth.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.fourth.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class="<%= @restaurants.fourth.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	                <a href="deliver_<%= @restaurants.fifth.id %>" class="strip_list">
	                <div class="<%= @restaurants.fifth.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.fifth.image_url.present? ? @restaurants.fifth.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                        	<% if @restaurants.fifth.reviews.count > 1 %>
		                            <% t_rat = ( @restaurants.fifth.reviews.pluck("SUM(rating)").first.to_f / @restaurants.fifth.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.fifth.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.fifth.branches.count > 0 ? @restaurants.fifth.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.fifth.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class="<%= @restaurants.fifth.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	                <a href="deliver_<%= @restaurants.last.id %>" class="strip_list">
	                <div class="<%= @restaurants.last.popular ? 'ribbon_1' : '' %>"></div>
	                    <div class="desc">
	                        <div class="thumb_strip">
	                            <img src="<%= @restaurants.last.image_url.present? ? @restaurants.last.image_url : 'website/img/thumb_restaurant.jpg' %>" alt="">
	                        </div>
	                        <div class="rating">
	                       		<% if @restaurants.last.reviews.count > 0 %>
		                            <% t_rat = ( @restaurants.last.reviews.pluck("SUM(rating)").first.to_f / @restaurants.last.reviews.count ).round %>
		                            <% t_rat.times do |th| %>
		                            <i class="icon_star voted"></i>
		                            <% end %>
		                            <% (5-t_rat).times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% else %>
		                        	<% 5.times do |th| %>
		                            <i class="icon_star"></i>
		                            <% end %>
		                        <% end %>
	                        </div>
	                        <h3><%= @restaurants.last.name %></h3>
	                        <div class="location">
	                            <%= @restaurants.last.branches.count > 0 ? @restaurants.last.branches.first.address : '' %>. <span class="opening">Opens at <%= @restaurants.last.opening_time.strftime("%R") %></span>
	                        </div>
	                        <ul>
	                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
	                            <li>Delivery<i class=" <%= @restaurants.last.delivery ? 'icon_check_alt2 ok' : 'icon_close_alt2 no' %>"></i></li>
	                        </ul>
	                    </div><!-- End desc-->
	                </a><!-- End strip_list-->
	            </div>
	            <% end %>
	        </div><!-- End row -->   
	        
	    </div><!-- End container -->
    </div><!-- End white_bg -->
        
    <div class="high_light">
      	<div class="container">
      		<h3>Choose from over <%= @res_count %> Pickup points</h3>
            <p class="hidden">Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
            <a href="<%= web_restaurant_listing_path %>" style="margin-top: 0px;">View all Pickup points</a>
        </div><!-- End container -->
    </div><!-- End hight_light -->
                  
    <section class="parallax-window" data-parallax="scroll" data-image-src="website/img/bg_office.jpg" data-natural-width="1200" data-natural-height="600">
	    <div class="parallax-content">
	        <div class="sub_content">
	            <i class="icon_mug"></i>
	            <h3>We also deliver to your office</h3>
	            <p class="hidden">
	                Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
	            </p>
	        </div><!-- End sub_content -->
	    </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End Content =============================================== -->
    
    <div class="container margin_60">
        <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Work with Us</h2>
            <p class="hidden">
                Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
        </div>
      	<div class="row">
            <div class="col-md-4 col-md-offset-2">
            	<a class="box_work" href="<%= submit_restaurant_path %>">
                <img src="website/img/submit_restaurant.jpg" width="848" height="480" alt="" class="img-responsive">
                <h3>Submit your Restaurant<span>Start to earn customers</span></h3>
                <p class="hidden">Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
                <div class="btn_1">Read more</div>
                </a>
            </div>
            <div class="col-md-4">
            	<a class="box_work" href="<%= submit_rider_path %>">
                <img src="website/img/delivery.jpg" width="848" height="480" alt="" class="img-responsive">
				<h3>Ride with us and earn upto AED15 per hour<span>Create your own routes and flexible shifts that suits you</span></h3>
                <p class="hidden">Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
                <div class="btn_1">Read more</div>
                </a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align: center;">Confirm Location</h4>
        </div>
        <div class="modal-body">
          <div id="map"></div>
        </div>
        <div class="modal-footer">
          <button id="cnfrmloac" type="button" style="width: 100%;" class="btn btn-info">Confirm</button>
        </div>
      </div>
      
    </div>
  </div>

    <script type="text/javascript">
		$(document).ready(function() {
			'use strict';
		   	  HeaderVideo.init({
		      container: $('.header-video'),
		      header: $('.header-video--media'),
		      videoTrigger: $("#video-trigger"),
		      autoPlayVideo: true
		    });    
		});
	</script>

<script>
  function initMapOld() {
    /*var input = document.getElementById('pickup_location');*/
    var options = {
      componentRestrictions: {country: 'AE'}
    };
    console.log("initilalizing map");       

    /*var autocomplete = new google.maps.places.Autocomplete(input,options);

    var input_dest = document.getElementById('address');
    var autocomplete_dest = new google.maps.places.Autocomplete(input_dest,options);*/
  }

  function initMap() {
  	var adrexs = document.getElementById('address').value
  	$.ajax({url: 'getlatlong/'+adrexs, success: function(result){
        console.log(result);
        var uluru = {lat: result.lat, lng: result.long};
	    var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 15,
	      center: uluru
	    });
	    var marker = new google.maps.Marker({
	      position: uluru,
	      map: map
	    });
    }});
  }

	function openmap(){
		initMap();
	    $("#myModal").modal();
	    google.maps.event.trigger(map, "resize");
	    return false;
	}
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#cnfrmloac').click(function(){
			var posd = document.getElementById('address').value;
		    window.location.assign("https://eatlbo.herokuapp.com/postalcode?address="+posd);
		});
	});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoUyblkGqwp2lFuWQb0v_-J_mI5sYJYPc&libraries=places" async defer></script>
