<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content" style="padding: 0 0;">
         <h1>Order No:  O<%= @order.id %></h1>
            <div class="bs-wizard">
            <% if @order.status == 'cancel' %>
                <div class="col-xs-6 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Requested</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
            
                <div class="col-xs-6 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Cancel</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div> 
            <% else %>
                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='pending' || @order.status=='approved' || @order.status=='dispatched'  || @order.status=='arrived_restaurant' || @order.status=='arrived_user' || @order.status=='finish' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Pending</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
            
                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='approved' || @order.status=='dispatched' || @order.status=='finish' || @order.status=='arrived_restaurant' || @order.status=='arrived_user' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Approved</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div> 

                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='dispatched' || @order.status=='arrived_restaurant' || @order.status=='arrived_user' || @order.status=='finish' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>3.</strong> Dispatched</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='arrived_restaurant' || @order.status=='arrived_user' || @order.status=='finish' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>4.</strong> Order Picked</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='arrived_user' || @order.status=='finish' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>5.</strong> Rider Arrived</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
            
                <div class="col-xs-2 bs-wizard-step <%= (@order.status=='finish' || @order.status=='completed') ? 'complete' : 'disabled' %>">
                  <div class="text-center bs-wizard-stepnum"><strong>6.</strong> Completed</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
            <% end %>
        </div><!-- End bs-wizard --> 
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->

<div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
    </div><!-- End Map -->
<div class="box_style_2">
    <div class="row">
        <div class="col-md-6"><h3 class="nomargin_top"><%= @order.address %></h3></div>
        <div class="col-md-3 col-md-offset-3">
            <a id='view_on_map' class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
        </div>
    </div>    	
    <h3 ><%= @order.notes %></h3>
    <p class="hidden">
        Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum deleniti sit ea.
    </p>
    <table class="table table-striped cart-list">
        <thead>
            <tr>
                <th>
                     #
                </th>
                <th>
                     
                </th>
                <th>
                     Item
                </th>
                <th>
                     Price
                </th>
            </tr>
        </thead>
        <tbody>
             <% pr = 0 %>
            <% @order.items.each_with_index do |foodi,ind| %>
            <% food = foodi.orderable %>
             <% itm_pric = food.price %>

            <tr>
                <td class="v-align-middle"><%= ind +1 %>.</td>
                <td>
                    <figure class="thumb_menu_list"><img src="<%= food.image.present? ? food.image_url : '../website/img/menu-thumb-1.jpg' %>" alt="thumb" style='width: 60px; height: auto;'></figure>
                </td>
                <td class="v-align-middle">
                    <h5><%= food.name %> (Quantity: <%= foodi.quantity %>)</h5>
                    <p>
                        <% Component.where(id: foodi.option).each do |opt| %>
                          <strong><%= opt.option.title %></strong>
                          <br>
                          <% itm_pric = itm_pric + opt.price %>
                          <%= opt.title%>: £<%= opt.price %>
                          <br><br>
                        <% end %>
                        <br>
                        <% Ingredient.where(id: foodi.ingredients).each do |ingre| %>
                          <% itm_pric = itm_pric + ingre.price %>
                          <%= ingre.title%>: £<%= ingre.price %>
                          <br>
                        <% end %>
                    </p>
                    
                </td>
                <td class="options v-align-middle">
                    <strong>£ <%= (itm_pric*foodi.quantity).round(2) %></strong>
                </td>
            </tr>
            <% pr = pr + (itm_pric*foodi.quantity) %>
            <% end %>
            <% if @order.ordera.present? %>
            <% fes = @order.ordera.delivery_fee.round(2) %>
            <% else %>
            <% fes = 0.0 %>
            <% end %>
            <tr>
                <td></td>
                <td class="v-align-middle">
                    <h5>Delivery Fee</h5>
                </td>
                <td></td>
                <td class="options v-align-middle">
                    <strong>£ <%= fes %></strong>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="v-align-middle">
                    <h2>Total</h2>
                </td>
                <td></td>
                <td class="options v-align-middle">
                    <strong>£ <%= (fes+pr).round(2) %></strong>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <% if @order.status == 'pending' %>
            <%= link_to "Cancel", web_user_cancel_order_path, :class => "btn btn-success", style: 'width: 30%;' %>
        <% end %>
    </div>
</div><!-- End box_style_1 -->


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBoUyblkGqwp2lFuWQb0v_-J_mI5sYJYPc" type="text/javascript"></script>

<script type="text/javascript">
  /* ============================================================
 * Google Map
 * Render maps using Google Maps JS API
 * For DEMO purposes only. Extract what you need.
 * ============================================================ */
(function($) {

    'use strict';

    var initmapre = document.getElementById('view_on_map');

    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(initmapre, 'click', init);

    var map;
    var zoomLevel = 13;

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

        // Get the HTML DOM element that will contain your map 
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');
        <% cds = Geocoder.coordinates(@order.address) %>
        // Create the Google Map using out element and options defined above
        map = new google.maps.Map(mapElement, {
          center: {lat: <%= cds.present? ? cds.first : '51.5074' %> , lng: <%= cds.present? ? cds.last : '0.1278' %>},
          scrollwheel: false,
          zoom: zoomLevel
        });

        var locations = [];
        locations.push(['Order ID: O<%= @order.id%>', <%= cds.present? ? cds.first : '51.5074' %>  , <%= cds.present? ? cds.last : '0.1278' %> , '<%= @order.address %>']);

        <% if @rider.present? && @order.status=='arrived_restaurant' %>
            <% if @rider.location.present? %>
            locations.push(['Rider', <%= @rider.location.latitude %>, <%= @rider.location.longitude %>, '<%= @rider.location.address %>']);
            <% end %>
        <% end %>

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          /*icon: 'http://image.flaticon.com/icons/svg/67/67994.svg',*/

          google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));

          google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
            return function() {
              infowindow.close();
            }
          })(marker, i));
        }
    }

})(window.jQuery);

</script>