<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="website/img/sub_header_short.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
	<div id="sub_content">
    	<h1> Searched results in your zone</h1>
        <div><i class="icon_pin"></i> <%= @address %> </div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
    <div class="container margin_60">
        
        <div class="main_title">
            <h2 class="nomargin_top" style="padding-top:0">Select category</h2>
        </div>

        <div class="row">
            <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/nearby_restaurants?address=<%= @address %>" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/1.png" alt="Restaurant" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
            <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/deliverable_grocery?address=<%= @address %>" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/2.png" alt="Grocery" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
		    <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/deliverable_petsfood?address=<%= @address %>" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/4.png" alt="Pets Food" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/deliverable_coffeeshop?address=<%= @address %>" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/3.png" alt="Coffee Shop" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
            <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/deliverable_healthbeauty?address=<%= @address %>&" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/5.png" alt="Health & Beauty" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
		    <div class="col-md-4 wow zoomIn">
		      	<a class="strip_list grid" href="/deliverable_gifts?address=<%= @address %>" style="padding: 0px;">
		          <div class="desc">
		          	<img class="" src="/website/img/6.png" alt="Gifts Shop" height="200px" width="100%"> 
		          	<!-- <img class="" src="/website/img/2.png" alt="Restaurant" height="20px" width="20%" style="position: absolute; margin-top: -100px;">  -->
		          </div>
		        </a><!-- End strip_list-->
		    </div><!-- End col-md-6-->
        </div><!-- End row -->
    </div><!-- End container -->

    <script type="text/javascript">
    	(function () {
    		var ur = 'http://maps.googleapis.com/maps/api/geocode/json?address=<%= @address %>&sensor=false&components=country:UK'
    		$.ajax({
               url: ur,
               success: function(data) {
                    console.log(data.results[0].geometry.location);
                    var lat = data.results[0].geometry.location.lat;
                    var long = data.results[0].geometry.location.lng;
               }
            });
		})();
    </script>